<div class="therapies-section">
  <div class="therapy">
    <img src="terapia_integrativa_im.png" alt="Cognitive Icon" style="height: 128px; width: auto;">
    <div class="therapy-title"> <!-- Adjust width as needed -->
      <h5>Terapia Integrativa</h5>
    </div>
    <p>
      La terapia integrativa abarca un enfoque holístico y personalizado, fusionando múltiples técnicas terapéuticas para abordar la mente, el cuerpo y la psique del paciente. Su objetivo es aliviar tanto los síntomas como las causas subyacentes de los trastornos, fomentando un bienestar integral mediante la autoexploración y el autodescubrimiento.
     </p>
  </div>
  
  <div class="therapy">
    <img src="terapia_EMDR_im.png" alt="EMDR Icon" style="height: 128px; width: auto;">
    <div class="therapy-title" > 
      <h5>Terapia EMDR</h5>
    </div>
    <p>La terapia EMDR, distinguida por su enfoque innovador y la eficacia en la obtención de resultados positivos, se centra en la capacidad intrínseca del cerebro para procesar los eventos difíciles de la vida, promoviendo un significativo alivio emocional.
    </p>
  </div>
  
  <!-- Add more therapy sections as needed -->
</div>

<div class="therapies-section">
  <div class="therapy">
    <img src="terapia_existencialista_im.png" alt="Cognitive Icon" style="height: 128px; width: auto;">
    <div class="therapy-title" style="height: 80px;"> <!-- Adjust width as needed -->
      <h5>Terapia existencialista con perspectiva de género e inclusión </h5>
    </div>
    <p>
      Desde una perspectiva de género, la terapia existencial se centra en la interacción entre la identidad y las normas sociales, y cómo estas afectan nuestra forma de ser y vivir. Su objetivo es crear un espacio seguro donde se pueda explorar y aceptar la autenticidad individual, mientras se fomenta la diversidad y se promueve la inclusión.
    </p>
  </div>
  
  <div class="therapy">
    <img src="terapia_pareja_im.png" alt="EMDR Icon" style="height: 128px; width: auto;">
    <div class="therapy-title"  style="height: 80px;" > 
      <h5>Terapia de pareja</h5>
    </div>
    <p>Reaprender a hablar y escuchar. Ofrece un espacio seguro para abordar conflictos y fortalecer la comunicación y la conexión emocional entre las parejas, promoviendo relaciones más sólidas y satisfactorias.
    </p>
  </div>
  
  <!-- Add more therapy sections as needed -->
</div>

<div class="therapies-section">
  <div class="therapy">
    <img src="terapia_crisis_im.png" alt="Cognitive Icon" style="height: 128px; width: auto;">
    <div class="therapy-title"> <!-- Adjust width as needed -->
      <h5>Terapia Breve: intervención en crisis</h5>
    </div>
    <p>
      Este enfoque se centra en brindar apoyo inmediato a quienes enfrentan desafíos emocionales, centrándose en estabilizar, reducir el estrés y restaurar el equilibrio. Proporciona herramientas prácticas para gestionar la situación y fomenta la resiliencia a largo plazo. 
    </p>
  </div>
  
  <!-- Add more therapy sections as needed -->
</div>
